@font-face {
  font-family: "axis";
  src: url("../../public/fonts/axis.otf");
}
@font-face {
  font-family: "Montserrat-Regular";
  src: url("../../public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../../public/fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../public/fonts/Montserrat-ExtraBold.ttf");
}
@font-face {
  font-family: "Pacifico";
  src: url("../../public/fonts/pacifico-regular.ttf");
}
