$max-content-width: 100%;
$primary-color: #fff;
$secondary-color: #000;
$accent-color: #985e5b;
$icon-color-dark: #1d2533;
$icon-border-color-light: #ebebeb;
$icon-border-color-dark: #1e2633;
$text-color-gray: #404040;
$text-color-dark: #1e2633;
$footer-bg-color: #edeff2;
